*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
body{
    overflow-x: hidden;
    min-height: 100vh;
    display: grid;
    background-color: #d9d6d6;
    grid-template-rows: auto 1fr auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* grey header */
.pointles{
    background-color: #656565;
    text-align: center;
    padding: 0.4rem;
}
.pointles p{
    color: #fff;
}
.text{
    animation: fadeOut infinite;
    animation-duration: 4s;
    animation-timing-function: linear;
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;} 
 } 
.pointles a{
    text-decoration: underline;
    color: #fff;
}
.pointles a:hover{
   text-decoration: none;
}
/* first-header */
.phone-header{
    display: none;
}
.first-header{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 1fr 180px;
    padding: 1.4rem;
}
/* left-header */
.left-ul{
    display: grid;
    grid-auto-flow: column;
}
.left-a{
    color: #000;
}
.left-a:hover{
    border-bottom: 2px solid black;
}
/* middle header */
.middle-header{
    text-align: center;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.kd11{
padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
  }
.kd11 span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: #212121;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
  }
.kd11 span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
  }
.kd11 span:not(hover) {
    transition: all 1s;
  }
/* right-header */
.right-ul{
    display: grid;
    grid-auto-flow: column;
}
.right-a{
    color: #000;
}
.right-a:hover{
    border-bottom: 2px solid black;
}
/* black header */
.black{
    background-color: black;
    height: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/* navbar */
.items-ul{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 1.3rem;
}
.items-a:hover{
    border-bottom: 2px solid royalblue;
    color: royalblue;
}
.lista{
    padding: 1rem;
    border-bottom: 1px solid #00000050;          
}
#sale{
    color: rgb(193, 43, 43);
}
.items-a{
    color: #000;
}
/* product */
.product{
    display: grid;
    grid-auto-rows: 40vw;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 2rem;
    align-items: center;
}
.items{
    display: grid;
  padding: 0.7rem;
  border-radius: 2px;
text-align: center;
position: relative;
align-items: center;
justify-content: center;
}
.first,
.second,
.fourth,
.fifth,
.sixth,
.seventh,
.eight,
.nine,
.tenth,
.eleventh{
    width: 100%;
}
.third{
    width: 95%;
}
.info{
    padding: 1rem;
}
.info a{
    color: #000;
}
.info p{
    padding: 0.5rem;
}
.items:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 5px 0 #00000070;
}
/* Hide the default checkbox */
.container-1 input {
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}
.rregullim{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.container-1 {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: royalblue;
}
.container-1:hover {
    background:rgb(146, 28, 146);
  }
.line {
    width: calc(100% - 8px);
    height: 3px;
    left: 4px;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .7s transform cubic-bezier(0,1,.33,1.2), background .4s;
  }
.line-indicator {
    transform: translateY(-50%) rotate(90deg);
  }
.container-1 input:checked ~ .line-indicator {
    transform: translateY(-50%);
  }
/* footer */
.rradha{
    width: 30px;
}
.rradha img{
    filter: grayscale(100%);
   border-radius: 50%;
width: 100%;
}
.rradha img:hover{
    filter: grayscale(0);
}
.conte{
 display: grid;
 padding: 1rem;
 grid-auto-flow: column;
 justify-content: center;
 gap: 1.7rem;
 align-items: center;
}
.rights{
    text-align: center;
    padding: 2rem;
    color:  rgb(80, 80, 80);
}
.balu{
    color: rgb(80, 80, 80);
}
.balu:hover{
    color: rgb(43, 67, 140);
}
.footer-phone{
    display: none;
}
@media screen and (max-width: 750px) {
    .phone-header{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 20px 1fr 60px;
        padding: 1rem;
    }
    .white{
        display: block;
        background-color: black;
        height: 2px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .header{
        display: none;
    }
    .product{
        grid-auto-rows: 80vw;
        grid-template-columns: 1fr ;
        gap: 1rem;
        }
        .footer-phone{
            display: block;
        }
        .footer{
            display: none;
        }
}
@media screen and (max-width:1300px){
    .product{
        grid-auto-rows: 80vw;
        grid-template-columns: 1fr 1fr ;
        gap: 1rem;
    }
    .eight,
    .tenth{
        width: 80%;
    }
}
@media screen and (max-width: 850px) {
    .product{
        grid-auto-rows: 85vw;
        grid-template-columns: 1fr ;
        gap: 1rem;
        display: grid;
        justify-content: center;
        }
}    
    @media screen and (max-width: 1050px){
        .phone-header{
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 20px 1fr 60px;
            padding: 1rem;
        }
        .header{
            display: none;
        }
        .white{
            display: block;
            background-color: black;
            height: 2px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
     }
}
